<header>
  <nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand mb-0 mx-auto h1">投稿記事のリンク一括取得</h1>
  </nav>
</header>

<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">WordPressでパーマリンクを変更したい場合など、投稿記事の全URLが必要なときにご利用ください。</p>
      <p class="lead">URLのみのものと、リダイレクト設定の記述がセットになったものと２種類ダウンロードできます。</p>
      <small>取得に時間がかかる場合もあります。その際は<a href="https://310nae.com" target="blank">こちら</a>のブログでもご覧ください( ˘ω˘ )</small>
    </div>
  </div>

  <div class="container">
    <% if @errors.present? %>
      <div class="alert alert-danger" role="alert">
        <% @errors.each do |error| %>
          <%= error %><br>
        <% end %>
      </div>
    <% end %>

    <%= form_with url: root_path, local: true, class: "form mb-5" do |form| %>
      <div class="form-group">
        <label for="url" class="form-label">TOPページのURL</label>
        <%= form.text_field :url, id:"url", placeholder: "https://example.com", class: "form-control" %>
        <small></small>
      </div>
      <div class="form-group">
        <label for="selector" class="form-label">投稿記事 aタグのセレクタ</label>
        <%= form.text_field :selector, id:"selector", placeholder: ".post-list a", class: "form-control" %>
      </div>
      <%= form.submit '一括取得', name: nil, class:'btn btn-primary' %>
      <button class="btn btn-primary spinner-geturl" type="button" disabled>
        取得中...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    <% end %>

    <% if @path_data.present? %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">URLのみ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">リダイレクト設定</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade p-3 show only-url active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <button type="button" class="js-copy btn btn-outline-info mb-2 w-25">Copy</button>
          <p class="alert alert-primary js-copied" role="alert">コピーできました！</p>
          <div class="view_url">
            <% @path_data.each do |path| %>
              <span class="js-urltext"><%= @host %><%= path %></span><br>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade p-3 redirect-ur" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <button type="button" class="js-copy btn btn-outline-info mb-2 w-25">Copy</button>
          <p class="alert alert-primary js-copied" role="alert">コピーできました！</p>
          <div class="view_url">
            <% @path_data.each do |path|  %>
              <span class="js-urltext">redirect 301 <%= path %> <%= @host %>/newURL</span><br>
            <% end %>
          </div>
        </div>
      </div>
    <% elsif @no_data %>
      <div class="alert alert-light" role="alert">
        <p>すみません。URLが取得できませんでした。</p>
        <p>入力していただいた情報が正しいか、再度ご確認をお願いします。</p>
        <p>【TOPページのURL】<%= @host %></p>
        <p>【投稿記事 aタグのセレクタ】<%= @link_selecter %></p>
        <p>それでも取得できない場合は、<a href="https://310nae.com/contact/">こちら</a>から連絡いただけると幸いです。</p>
      </div>
    <% end %>
  </div>
</main>

<footer class="bg-dark  mt-5">
  <p class="text-center mb-0 text-white p-3">© 2019 <a href="https://310nae.com" class="text-white">Nae Sato</a>. All Rights Reserved.</p>
</footer>
